---
import FeaturedLogos from "./FeaturedLogos.astro";
import FullScreenModal from "./FullScreenModal.astro";

type TailwindSize = 
  | "0.5rem" // 2 in Tailwind
  | "0.75rem" // 3 in Tailwind
  | "1rem" // 4 in Tailwind
  | "1.25rem" // 5 in Tailwind
  | "1.5rem" // 6 in Tailwind
  | "1.75rem" // 7 in Tailwind
  | "2rem" // 8 in Tailwind
  | "2.25rem" // 9 in Tailwind
  | "2.5rem" // 10 in Tailwind
  | "3rem" // 12 in Tailwind
  | "3.5rem" // 14 in Tailwind
  | "4rem" // 16 in Tailwind
  | "5rem" // 20 in Tailwind
  | "6rem" // 24 in Tailwind
  | "8rem" // 32 in Tailwind
  | "10rem" // 40 in Tailwind
  | "12rem" // 48 in Tailwind
  | "16rem" // 64 in Tailwind
  | "20rem" // 80 in Tailwind
  | "24rem" // 96 in Tailwind
  | "32rem" // 128 in Tailwind
  | "40rem" // 160 in Tailwind
  | "48rem" // 192 in Tailwind
  | "56rem" // 224 in Tailwind
  | "64rem" // 256 in Tailwind;

interface Props {
  size: TailwindSize;
  className?: string;
  gitHubLink: string;
}

const { size, className, gitHubLink } = Astro.props;
---

<!-- Music Credits -->
<a class="active:scale-75 transition-all duration-100" aria-label="My Music Credits" href="https://tidal.com/browse/credits/20269946" target="_blank">
  <div
 
    class="flex flex-col flex-none justify-center items-center flex-wrap"
  >
    <svg
      height={size}
      width={size}
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path
        fill="currentColor"
        d="M8 4h12v16h-8v-8h6V8h-8v12H2v-8h6V4zm0 10H4v4h4v-4zm10 0h-4v4h4v-4z"
      ></path>
    </svg>
    <span class="font-mono xl:text-lg">Music</span>
  </div></a>
<!-- GitHub -->
<a class="active:scale-75 transition-all duration-100" href={gitHubLink} target="_blank"
  ><div
    slot="trigger"
    class="flex flex-col flex-none justify-center items-center flex-wrap"
  >
    <svg
      height={size}
      width={size}
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path
        fill="currentColor"
        d="M10 2H2v8h3v12h2V10h3v2h2v2h2v8h8v-8h-8v-2h-2v-2h-2V2zM4 8V4h4v4H4zm12 12v-4h4v4h-4z"
      ></path>
    </svg><span class="font-mono xl:text-lg">GitHub</span>
  </div>
</a>
<!-- Projects -->
<FullScreenModal id={1} title="My Recent Projects" subtitle="Take a look at what I'm up to...">
  <div
    slot="trigger"
    class="flex flex-col flex-none justify-center items-center flex-wrap active:scale-75 transition-all duration-100"
  >
    <svg
      height={size}
      width={size}
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path
        fill="currentColor"
        d="M8 3h8v4h6v14H2V7h6V3zm2 4h4V5h-4v2zM4 9v10h16V9H4z"></path>
    </svg>
    <span class="font-mono xl:text-lg">Projects</span>
  </div>
  <!-- Content -->
  <FeaturedLogos className="mt-2 flex flex-col flex-nowrap justify-center items-center w-fit scrollbar-hide" fullDescription={true} />
 
  <span slot="footer" class="font-mono">Scroll/swipe for another project 👉</span>
</FullScreenModal>

<style></style>
